<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MPlot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="fragments/fragments.html :: sitenavigation"></header>

<div>Config</div>

<!--/*@thymesVar id="mPlotConfig" type="caraniel.mplot.core.config.MPlotConfigBean"*/-->

<form action="#" th:action="@{/configform}" th:object="${mPlotConfig}" method="post">
  <p>Thread amount: <input type="number" th:field="*{threadAmount}" /></p>

  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<div th:insert="fragments/fragments.html :: sitefooter"></div>

</body>
</html>