<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MPlot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--/*@thymesVar id="plotInfos" type="caraniel.mplot.core.bean.PlotInfosBean"*/-->
<!--/*@thymesVar id="mPlotBean" type="caraniel.mplot.core.bean.PlotBean"*/-->

<header th:insert="fragments/fragments.html :: sitenavigation"></header>


<form id="newentry" action="#" th:action="@{/plotnewentry}" th:object="${mPlotBean}" method="post">
</form>

<table>
  <tr>
    <th>Plotter</th>
    <th>KSize</th>
    <th>Rounds</th>
    <th>t-Dir</th>
    <th>Name</th>
    <th>d-Dir</th>
  </tr>

  

  <tr>
    <td>
      <input th:field="*{mPlotBean.plotterFile}" name="plotter-file" type="text" form="newentry"/>
    </td>
    <td>
      <input th:field="*{mPlotBean.KSize}" name="plotter-ksize" type="number" form="newentry"/>
    </td>
    <td>
      <input th:field="*{mPlotBean.rounds}" name="plotter-rounds" type="number" form="newentry"/>
    </td>
    <td>
      <input th:field="*{mPlotBean.tempDirectory}" name="plotter-tempdir" type="text" form="newentry"/>
    </td>
    <td>
    </td>
    <td>
      <input th:field="*{mPlotBean.destinationDirectory}" name="plotter-destdir" type="text" form="newentry"/>
    </td>
  </tr>
  <tr>
    <td>
      <input type="submit" value="Submit" form="newentry"/>
    </td>
  </tr>
</table>

<div>HelloWorld</div>


<div th:insert="fragments/fragments.html :: sitefooter"></div>
</body>
</html>